# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# compiled output
/frontend_old/dist
/frontend_old/tmp
/frontend_old/out-tsc
# Only exists if Bazel was run
/frontend_old/bazel-out

# dependencies
/frontend_old/node_modules
/backend/node_modules

# profiling files
/frontend_old/chrome-profiler-events*.json
/frontend_old/speed-measure-plugin*.json

# misc
/frontend_old/.sass-cache
/frontend_old/connect.lock
/frontend_old/coverage
/frontend_old/libpeerconnection.log
/frontend_old/npm-debug.log
/frontend_old/yarn-error.log
/frontend_old/testem.log
/frontend_old/typings

# System Files
/frontend_old/.DS_Store
/frontend_old/Thumbs.db

/frontend_old/.angular/


# Compiled output
/frontend/dist
/frontend/tmp
/frontend/out-tsc
/frontend/bazel-out

# Node
/frontend/node_modules
npm-debug.log
yarn-error.log

# Miscellaneous
/frontend/.angular/cache
.sass-cache/
/frontend/connect.lock
/frontend/coverage
/frontend/libpeerconnection.log
testem.log
/frontend/typings

# System files
.DS_Store
Thumbs.db

/backend/coverage
/backend/results
backend/.nyc_output
