:host{ /* :host selects the DOM element of the current component */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.mat-mdc-card{
  width: min-content;
}
